.box{
    border:solid 10px;
    border-color:crimson;
    border-radius:10px ;
    background-color:antiquewhite;
    height:625px;
}
.heading{   
    text-align:center;
    color:brown;
    margin-top:5px ;
}
.paper{
    text-align:center;
    border:solid 10px;
    border-color:crimson;
    height:600px;
}
.quote{
    font-size:20px;
    color:darkred;
    margin-top:40px;
}
.blood{
    height:250px;
    border:solid 10px;
    border-color: rgb(6, 66, 66);
}
.para{
    display:flex;
    justify-content:space-around;
    font-size:20px;
    color:brown;
    margin-top:50px;
}
.ramya{
    width:70%;
    margin-left:0px;
}
.blood{
    width:50%;
    float:left;
}
.book{
    font-size:35px;
    margin-left:300px;
    color:crimson;
    margin-top:50px;
}
.donate{
    height:250px;
    width:250px;
    border:solid 12px;
    border-color:darkcyan;
    float:right;
    margin-right:50px;
}
